{% extends 'main/base.html' %}

{% block title %} All Products {% endblock %}

{% block content %}

<div class="row">
    <div class="col">
        <form action="{% url 'product:product_list_view' %}" method="get">
            <input type="search" name="search" value="{{search_query}}">
        </form>
    </div>
    <div class="col"><a href="{% url 'product:add_new_product' %}">Add New Product</a></div>
</div>


{# here add prodcut card #}
{% for product in products %}
    <ul>
        <li><a href="{% url 'product:show_product_details' product.id %}">{{product.product_name}}</a></li>
        <li><p>Stock Quantity: {{product.stock_quantity}}</p></li>
        {% if product.stock_quantity < 2 %}
            <p class="bg-danger">Low Stock</p>
        {% endif %}
        {% if perms.product.delete_product %}
            <a href="{% url 'product:delete_product' product.id %}">Delete</a>
        {% endif %}
        {% if perms.product.change_product %}
            <a href="{% url 'product:update_product' product.id %}">Update</a>
        {% endif %}
    </ul>
{% empty %}
    <p>No product found</p>
{% endfor %}

{% endblock %}